<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jikon.domain.dao.module.SubsystemModuleMapDao">
    <resultMap id="subsystemModuleMapResultMap" type="cn.jikon.domain.entity.module.SubsystemModuleMap">
        <result property="id" column="mod_id"/>
        <result property="moduleId" column="mod_module_id"/>
        <result property="subsystemId" column="mod_sub_id"/>
        <result property="describe" column="mod_describe"/>
    </resultMap>

    <sql id="Base_Column_List">
    mod_id,mod_module_id,mod_sub_id,mod_describe
    </sql>

    <insert id="addSubsystemModuleMap" parameterType="cn.jikon.domain.entity.module.SubsystemModuleMap">
        INSERT INTO subsystem_module_map (mod_id,mod_module_id,mod_sub_id,mod_describe) VALUES (#{id},#{moduleId},#{subsystemId},#{describe})
    </insert>

    <delete id="delSubsystemModuleMapById" parameterType="string">
        DELETE FROM subsystem_module_map WHERE mod_module_id = #{moduleId}
    </delete>

    <update id="updateSubsystemModuleMap" parameterType="string">
        UPDATE subsystem_module_map SET mod_sub_id=#{subsystemId},mod_describe=#{describe}
        WHERE mod_module_id = #{moduleId}
    </update>

    <select id="getModuleIdList" parameterType="string" resultType="java.lang.String">
        SELECT mod_module_id FROM subsystem_module_map WHERE mod_sub_id = #{subsystemId}
    </select>
    <select id="getSubIdByModuleId" parameterType="string" resultType="java.lang.String">
        SELECT mod_sub_id FROM subsystem_module_map WHERE mod_module_id=#{moduleId}
    </select>

    <select id="getListModulePrivilegeMapBySubId" resultMap="subsystemModuleMapResultMap">
        select 
        <include refid="Base_Column_List"/>
        from subsystem_module_map
        where mod_sub_id = #{subId}
    </select>
    
    <delete id="deleteModulePriMapInfoBySubId">
        delete from subsystem_module_map
        where mod_sub_id = #{subId}
    </delete>

    <select id="getSubsystemModuleMapById" parameterType="string" resultMap="subsystemModuleMapResultMap">
        SELECT <include refid="Base_Column_List"></include> FROM subsystem_module_map
        WHERE mod_id = #{id}
    </select>
</mapper>
