<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jikon.domain.dao.usermanage.OrganizationMapDao">

    <resultMap id="orgResultMap" type="cn.jikon.domain.entity.managesystem.OrganizationMap">
        <result property="id" column="org_id"/>
        <result property="fatherId" column="org_father_id"/>
        <result property="childId" column="org_child_id"/>
    </resultMap>
    <!-- orgMap -->

    <select id="getChildIdListByFatherId" parameterType="string" resultType="java.lang.String">
        SELECT org_child_id FROM organization_map WHERE org_father_id = #{fatherId}
    </select>

    <insert id="addOrganizationMap" parameterType="OrganizationMap">
    	insert into organization_map(org_id,org_father_id,org_child_id) values
    	(#{id},#{fatherId},#{childId})
    </insert>

    <update id="updateOrganizationMap" parameterType="OrganizationMap">
	 	update organization_map set org_father_id=#{fatherId}
	 	where org_child_id=#{childId}
	</update>

    <delete id="delOrganizationMapByChildId" parameterType="String">
        DELETE FROM organization_map WHERE org_child_id=#{childId}
    </delete>

    <select id="getOrganizationCountByFatherId" parameterType="string" resultType="int">
        SELECT COUNT(org_no) FROM organization_map WHERE org_father_id = #{fatherId}
    </select>
</mapper>