<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.jikon.domain.dao.user.UserDao">

    <resultMap id="userResultMap" type="cn.jikon.domain.entity.user.User">
        <result property="id" column="use_id"/>
        <result property="account" column="use_account"/>
        <result property="password" column="use_password"/>
        <result property="useName" column="use_name"/>
        <result property="status" column="use_status"/>
        <result property="loginStatus" column="use_login_status"/>
        <result property="type" column="use_type"/>
        <result property="remark" column="use_remark"/>
        <result property="describe" column="use_description"/>
    </resultMap>

    <sql id="Base_Column_List">
    use_no, use_id, use_name, use_account, use_password,use_type,use_status,use_description
    </sql>

    <select id="getUserById" parameterType="java.lang.String" resultMap="userResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user WHERE use_id=#{userId}
    </select>

    <select id="getUserByAccount" parameterType="string" resultMap="userResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user WHERE use_account=#{account}
    </select>

    <update id="updateUserPassword">
        UPDATE user SET use_password=#{password} WHERE use_id=#{userId}
    </update>

    <select id="getUserCount" resultType="java.lang.Integer">
        SELECT count(1) FROM user
    </select>

    <select id="getUserList" resultMap="userResultMap">
        SELECT
        use_id,use_name,use_account,use_status
        FROM user LIMIT
        #{start,jdbcType=NUMERIC},
        #{pageCount,jdbcType=NUMERIC};
    </select>

    <update id="activationUserApply" parameterType="java.lang.String">
        UPDATE user SET use_status='1'
        WHERE use_id=#{userId}
    </update>

    <insert id="addUser" parameterType="cn.jikon.domain.entity.user.User">
        INSERT INTO user
          (use_id,use_account,use_password,use_name,use_description)
        VALUES
          (#{id},#{account},#{password},#{useName},#{describe})
    </insert>

    <delete id="delUser" parameterType="java.lang.String">
        DELETE FROM user WHERE use_id=#{userId}
    </delete>

</mapper>

